<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Talented software developer with MS degree, strong educational backgroup in programming, and extensive experience using cutting-edge programming language and development tools. Proven ability to execute at technial level. Productive in both team-based and self-managed projects. Dedicated to maintaining up-to-date industry knowledge, technical depth and IT skills.</p>
</div><!--//summary-->
</section><!--//section-->
