<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Talented software developer with MS degree, strong educational backgroup in programming, and extensive experience using cutting-edge programming languages and development tools. Proven ability to execute at technial level. Worked with team of developers to brainstorm and implement ideas. Productive in both team-based and self-managed projects. Well-versed with multi-tasking. Dedicated to maintain up-to-date industry knowledge, technical depth and IT skills.</p>
</div><!--//summary-->
</section><!--//section-->
