 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">MSc in Graduate Institute of Networking and Multimedia</h4>
    <h5 class="meta">National Taiwan University</h5>
    <div class="time">2014 - 2016</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BSc in Computer Science & Information Engineering</h4>
    <h5 class="meta">National Central University</h5>
    <div class="time">2009 - 2013</div>
</div><!--//item-->
</div><!--//education-container-->
