<section class="section education-section">
<h2 class="section-title"><i class="fa fa-graduation-cap"></i>Education</h2>
    <div class="item">
        <div class="meta">
        <div class="upper-row">
            <h3 class="school">National Taiwan University</h3>
            <div class="time">Sep 2014 – Jul 2016</div>
        </div><!--//upper-row-->
        <div class="degree">Master of Science in Graduate Institute of Networking and Multimedia</div>
        </div><!--//meta-->
        <img class="school-img" src="{{site.baseurl}}/assets/images/ntu.png" alt="profile picture" />
         <ul type="disc">
            <li><p><b>Master’s Thesis:</b> Predicting Web Services with Service Ontology</p></li>
            <li><p><b>Lab and Advisor:</b> Software Engineering Laboratory, Jonathan Lee, Ph.D</p></li>
            <li><p><b>Relevant Research Domains:</b> Prediction and Recommender System, Ontology, Natural Language Processing, Information Retrieval, Machine Learning</p></li>
            <li><p><b>Relevant Courseworks:</b> Software Engineering, Software Engineering Design (Design Pattern), Computer Security, Interactive Computer Graphics, Computer Vision, Natural Language Processing, Information Retrieval and Extraction, Personal Communication Service</p></li>
            </br>
         </ul>
    </div><!--//item-->

    <div class="item">
        <div class="meta">
        <div class="upper-row">
            <h3 class="school">National Central University</h3>
            <div class="time">Sep 2009 – Jun 2013</div>
        </div><!--//upper-row-->
        <div class="degree">Bachelor of Computer Science and Information Engineering</div>
        </div><!--//meta-->
        <img class="school-img" src="{{site.baseurl}}/assets/images/ncu.png" alt="profile picture" />
         <ul type="disc">
            <li><p><b>Senior Projects:</b> System Detection by Face Orientation, English Learning-Companion Robot</p></li>
            <li><p><b>Lab and Advisor:</b> Computational Intelligence and Human-Computer Interaction Laboratory, Mu-Chun Su, Ph.D</p></li>
            <li><p><b>Relevant Courseworks:</b> The Attack and Defense of Computers, Object Oriented Analysis and Design, Computer Animation and 3D Games, Virtual Reality, Multimedia Signal Processing, Software Hardware Codesign, Computer Networking</p></li>
         </ul>
    </div><!--//item-->

</section><!--//education-container-->
