<section class="section experiences-section">
<h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="company">Shanghai Droi Technology Co., Ltd</h3>
                <div class="time">2016.9 - Present</div>
            </div><!--//upper-row-->
            <div class="job-title">Taipei Research Institute, IDroi team, Senior Engineer</div>
        </div><!--//meta-->
        <img class="company-img" src="{{site.baseurl}}/assets/images/droi.png" alt="profile picture" />
        <div class="details">
            <p><b>InfoHub Project:</b> Designed an Android application representing a real-time data concept within news industry including some information about movies, restaurants and tours.</p>  
            <p><b>AdZodiac Project:</b> Built a fully integrated mobile advertising platform based on MoPub SDK by using different advertising APIs, such as Facebook, AdMob, InMobi, Flurry, ADroi...etc.</p>
        </div><!--//details-->
        <p><b>Responsibilities:</b></p>
        <ul type="disc">
            <li><p>Designed InfoHub prototype and launched first version by using MoPub to import advertising.</p></li>
            <li><p>Developed InfoHub client by the Android application, using java to design user interface.</p></li>
            <li><p>Developed InfoHub server by crawling websites, using javascript, lua and python to parse RSS and URL to obtain useful information including images.</p></li>
            <li><p>Implemented the android application for system notifications by using Firebase Cloud Messaging within client and server.</p></li>
            <li><p>Constructed and managed the backend platform of InfoHub by exploiting company server, DroiBAAS and Firebase.</p></li>
            <li><p>Collaborated with FreemeOS team (Shanghai team) to integrate InfoHub client into Android Launcher with FreemeOS system.</p></li>
            <li><p>Supported AD group (IDroi team) to develop AdZodiac client for mobile advertising platform by using MoPub Android SDK.</p></li>
        </ul>
    </div><!--//item-->
                
</section><!--//section-->
