<section class="section experiences-section">
<h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="company">Shanghai Droi Technology Co., Ltd</h3>
                <div class="time">2016.9 - Present</div>
            </div><!--//upper-row-->
            <div class="job-title">Taipei Research Institute, IDroi team, Senior Engineer</div>
        </div><!--//meta-->
        <img class="company-img" src="{{site.baseurl}}/assets/images/droi.png" alt="profile picture" />
        <div class="details">
            <p><b>Infohub Project:</b> Designed an Android application representing a real-time data concept within news industry including some information about movie, restaurant and travel</p>  
            <p><b>Adzodiac Project:</b> Built a fully integrated mobile advertising platform by using different advertising APIs, such as Facebook, AdMob, InMobi, Flurry, ADroi...etc</p>
        </div><!--//details-->
        <p><b>Responsibilities:</b></p>
        <ul type="disc">
            <li><p>Developed Infohub client by the Android application, using java to design its UI</p></li>
            <!-- <li><p>Developed the server of Android app for location services of Restaurant and Travel by using API of Google Places, Google Map and Yelp.</p></li> -->
            <li><p>Developed Infohub server by crawling websites, using javascript, lua and python to parse RSS and URL to obtain information including image</p></li>
            <!--Developed the server of Android app for movie information by crawling Google Search and IMDB.-->
            <li><p>Implemented the android application for system notifications by using Firebase Cloud Messaging within client and server</p></li>
            <li><p>Constructed and managed the backend platform of Infohub by exploiting company server, DroiBAAS and Firebase</p></li>
            <li><p>Collaborated with FreemeOS team to integrate Infohub client into Android Launcher with FreemeOS</p></li>
            <li><p>Supported AD group to develop Adzodiac client for mobile advertising platform by using MoPub Android SDK</p></li>
        </ul>
    </div><!--//item-->
                
</section><!--//section-->
