<section class="section experiences-section">
<h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="company">Shanghai Droi Technology Co., Ltd</h3>
                <div class="time">2016.9 - Present</div>
            </div><!--//upper-row-->
            <div class="job-title">
            Taipei Research Institute, IDroi team, Senior Engineer</p>
            Java/Javascript/Lua/Python
            </div>
        </div><!--//meta-->
        <img class="company-img" src="{{site.baseurl}}/assets/images/droi.png" alt="profile picture" />
        <div class="details">
            <p><b>InfoHub Project:</b> Designed an Android application that represented a real-time data concept within data industry about news, movies, restaurants and tours.</p>
        </div><!--//details-->
        <p><b>Responsibilities:</b></p>
        <ul type="disc">
            <li><p>Developed and implemented the prototype of InfoHub client, and launched first application version including advertising. (Developed independently on my own)</p></li>
            <li><p>Customized and designed the user interface of InfoHub that combined multiple fragments in a single activity.</p></li>
            <li><p>Bulit a cache system by using MongoDB to improve the execution time of InfoHub crawler that reduced by more than 75%.</p></li>
            <li><p>Expanded the capability of InfoHub crawler to obtain the information of videos by using Vimeo and Youtube API.</p></li>
            <li><p>Extracted useful information such as news content from 4000+ news sources by parsing social meta tag.</p></li>
            <li><p>Handled 4000+ news sources to collect data from a set of images and transform into content delivery network.</p></li>
            <li><p>Realized the android application for system notifications within client and server by using Firebase Cloud Messaging.</p></li>
            <li><p>Constructed and maintained the backend platform of InfoHub by depending the virtual machine, DroiBAAS and Firebase.</p></li>
            <li><p>Cooperated with FreemeOS team (Shanghai team) to integrate InfoHub client into Android Launcher with FreemeOS system.</p></li>
        </ul>
        <div class="details"> 
            <p><b>AdZodiac Project:</b> Bulit a fully integrated advertising platform based on web services and MoPub Android SDK by using different advertising APIs, such as Facebook, AdMob, InMobi, Flurry, ADroi...etc.</p>
        </div><!--//details-->
        <p><b>Responsibilities:</b></p>
        <ul type="disc">
            <li><p>Provided error logger support for the communication protocol between server and client on AdZodiac mobile client.</p></li>
            <li><p>Assisted AdZodiac mobile client side in analyzing and solving the memory leak problem.</p></li>
        </ul>
        <div class="details"> 
            <p><b>Other tasks:</b></p>
        </div><!--//details-->
        <ul type="disc">
            <li><p>Achieved the effect of automatic broadcast that supervised InfohHub server, InfohHub crawler, and AdZodiac server by using Wechat ChatBot.</p></li>
        </ul>
    </div><!--//item-->
                
</section><!--//section-->
