{% assign honors = site.data.data.honors %}
{% if honors %}
<section class="section honors-section">
<h2 class="section-title"><i class="fa fa-trophy"></i>Awards & Honors</h2>
    {% for honor in honors %}
    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="honor-title">{{ honor.name }}</h3>
          <div class="time">{{ honor.time }}</div>
        </div><!--//upper-row-->
        <div class="organization">{{ honor.organization }}</div>
      </div><!--//meta-->

      {% if honor.image %}
      <img class="honor-img" src="{{site.baseurl}}/assets/images/{{honor.image}}" alt="profile picture" />
      {% endif %}

      {% if honor.details %}
      <div class="details">
        {{ honor.details | markdownify }}
      </div><!--//details-->
      {% endif %}

      <ul type="disc">
      {%for column in honor.columns %}
        <li><p>
            {% if column.title %}
                <b>{{ column.title }}: </b>
            {% endif %}
            {% if column.blod %}
                <b>{{ column.item }}</b>
            {% else %}
                {{ column.item }}
            {% endif %}
        </p></li>
      {% endfor %}
      <br/>
      </ul>
    </div><!--//item-->
    {% endfor %}
</section><!--//section-->
{% endif %}

  <!-- <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    Experiences
  </h2> -->
