{% assign honors = site.data.data.honors %}
{% if honors %}
<section class="section honors-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa fa-trophy fa-stack-1x fa-inverse"></i>
    </span>
    Awards & Honors
  </h2>
<!-- ==========================================exception start========================================== -->
<div class="item">
  <div class="meta">
    <div class="upper-row">
      <h3 class="honor-title">Career Sharing Talk</h3>
      <div class="time">2021</div>
    </div><!--//upper-row-->
    <div class="organization">Dandelion Hearing and Language Association</div>
    <div class="upper-row">
      <h3 class="honor-title">Career Transition Coach Workshop for Hearing Impaired Students</h3>
      <div class="time">2014</div>
    </div><!--//upper-row-->
    <div class="organization">Taipei City Government, Department of Education</div>
  </div><!--//meta-->
  <img class="honor-img" src="{{site.baseurl}}/assets/images/dandelion.png" alt="profile picture" />
  <img class="honor-img" src="{{site.baseurl}}/assets/images/taipeiedu.png" alt="profile picture" />
  <ul type="disc">
      <li><p>Served as an invited speaker for achieving outstanding performance amongst deaf people.</p></li>
      <li><p>Ranked second place in 2009 Taiwan College Entrance Examination in sciences major (with biology) for hearing impaired students.</p></li>
      <li><p>Got admitted to TOP 3 graduate schools(NTU, NTHU, NCTU) in Taiwan by achieving general student entry requirements.</p></li>
  </ul>
</div><!--//item-->
<!-- ==========================================exception end========================================== -->

  {% for honor in honors %}
    <div class="item">
      <div class="meta">
        {% if honor.image %}
          <img class="honor-img" src="{{site.baseurl}}/assets/images/{{honor.image}}" alt="profile picture" onload="if(!isMobile())this.parentNode.removeChild(this);"/>
        {% endif %}
        <div class="upper-row">
          <h3 class="honor-title">{{ honor.name }}</h3>
          <div class="time">{{ honor.time }}</div>
        </div><!--//upper-row-->
        {% if honor.image %}
          <img class="honor-img" src="{{site.baseurl}}/assets/images/{{honor.image}}" alt="profile picture" onload="if(isMobile())this.parentNode.removeChild(this);"/>
        {% endif %}
        <div class="organization">{{ honor.organization }}</div>
      </div><!--//meta-->

      {% if honor.details %}
        <div class="details">{{ honor.details | markdownify }}</div><!--//details-->
      {% endif %}

      <ul type="disc">
        {%for column in honor.columns %}
          <li><p>
            {% if column.title %}<b>{{ column.title }}</b>{% endif %}
            {% if column.title and column.item %}<b>:</b>{% endif %}
            {{ column.item }}
          </p></li>
        {% endfor %}
      </ul>

    </div><!--//item-->
    {% endfor %}
<!-- ==========================================exception start========================================== -->
<div class="item">
  <div class="meta">
    <div class="upper-row">
      <h3 class="honor-title">Scholarship of Special Education</h3>
      <div class="time">2011 - 2013, 2015</div>
    </div><!--//upper-row-->
    <div class="organization">Ministry of Education of the Republic of China (Taiwan)</div>
    <div class="upper-row">
      <h3 class="honor-title">Scholarship of Cultural Foundation</h3>
      <div class="time">2011</div>
    </div><!--//upper-row-->
    <div class="organization">Chia Hsin Cement Corporation</div>
  </div><!--//meta-->
  <ul type="disc">
      <li><p>Achieved over a semester grade point average of A(4/4.3).</p></li>
  </ul>
  <img class="honor-img" src="{{site.baseurl}}/assets/images/chc.png" alt="profile picture" />
  <img class="honor-img" src="{{site.baseurl}}/assets/images/mes.png" alt="profile picture" />
</div><!--//item-->
<!-- ==========================================exception end========================================== -->
</section><!--//section-->
{% endif %}
