<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
    <div class="skillset">
        <div class="item">
            <h4 class="level-title">Java &amp; Android app</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="85%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->

        <div class="item">
            <h4 class="level-title">Python</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="85%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->

        <div class="item">
            <h4 class="level-title">C &amp; C++ &amp; C#</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->

        <div class="item">
            <h4 class="level-title">Assembly &amp; Perl &amp; Lua</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="75%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->

        <div class="item">
            <h4 class="level-title">Javascript</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->

        <div class="item">
            <h4 class="level-title">HTML5 &amp; CSS</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
    </div>
</section><!--//skills-section-->
